body {
    background-color: black;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    flex: content;
    color: green;
}

#road1 {
    background-color: darkblue;
    width: 100vw;
    height: 50vh;
}

#road2 {
    background-color: darkgreen;
    width: 100vw;
    height: 50vh;
}

#player {
    background-color: greenyellow;
    position: absolute;
}

.hostileR {
    background-color: orange;
    position: absolute;
}

.hostileL {
    background-color: red;
    position: absolute;
}

button {
    background-color: yellowgreen;
    text-decoration: none;
    align-items: center;
}

button a{
    text-decoration: none;
    color: white;
    
}

.play-again-button {
    text-align: center;
}