body {
    background-color: black;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    flex: content;
    color: green;
    position: relative;
}

#welcome_page {
    position: relative;
    flex: content;
}

#welcome_frog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#welcome_page h1 {
    font-family: serif;
    text-align: center;
}

#welcome_page ul {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

#welcome_page ul li {
    text-decoration: none;
    list-style: none;
}
    

#point-area {
    color: white;
    position: absolute;
    width: 100px;
    height: 30px;
    font-family: 'Common Pixel', sans-serif;
    z-index: 1;
}

.lilyPad {
    background-image: url("../images/lily_pad.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 4vh;
}

#lilypads {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 10vw;
    width: 100%;
    top: 5%;
}

#river {
    background-image: url("../images/lake.png");
    background-repeat: repeat-x;
    background-size: 40%;
    width: 100vw;
    height: 33vh;
    flex: content;
}

#road {
    background-image: url("../images/road-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 67vh;
    flex: content;
}


#player {
    background-image: url("../images/frog_N.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.Truck {
    background-image: url("../images/truck-yellow.png");
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.Car {
    background-image: url("../images/car-red.png");
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.streamFromRight {
    background-image: url("../images/stream_alternative.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.streamFromLeft {
    background-image: url("../images/stream_alternative.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

button {
    background-color: yellowgreen;
    text-decoration: none;
    align-items: center;
}

button a{
    text-decoration: none;
    color: white;
    
}

.play-again-button {
    text-align: center;
}

.point {
    background-image: url("../images/bug_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

}

.golden_point {
    background-image: url("../images/golden_bug_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}



#win-page {
    display: flex;
    position: absolute;
    flex-direction: column;
}

#game-over {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 10%;
}

#game-over-image {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#win-page-gif {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#loading {
    position:absolute;
    display: flex;
    flex-direction: column;
    gap: 10%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: black;
    color: yellowgreen;
    opacity: 1;
    visibility: visible;
    margin-top: auto;
    margin-bottom: auto;
  }
  
#loading.hidden{
    opacity: 0;
    visibility: hidden;
}

#loading h1 {
    margin-top: 0%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

#loading img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}